.settings {

	.colors,
	.patterns {
		display: flex;
	}

	.box {
		width: 50px;
		height: 50px;
		border-radius: 5px;
		background-color: rgb(129, 129, 129);
		border: 1px solid #ccc;
		margin-right: 10px;

		cursor: pointer;
	}

	.color1 {
		background-color: #564ab1;
	}

	.color2 {
		background-color: #50a5f1;
	}

	.color3 {
		background-color: #34c38f;
	}

	.color4 {
		background-color: #f1b44c;
	}

	.color5 {
		background-color: #f46a6a;
	}

	.color6 {
		background-color: #050505;
	}


	.pattern2 {
		background-image: url('../assets/images/patern2.png');
	}

	.pattern3 {
		background-image: url('../assets/images/patern3.png');
	}

	.pattern4 {
		background-image: url('images/patern1.png');
	}

	.pattern5 {
		background-image: url('images/patern1.png');
	}

	.pattern6 {
		background-image: url('images/patern1.png');
	}
}

.section {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.space {
	height: 100px;
}

#business_view {
	/*margin: 0 10px;*/
	position: relative;

	.background {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 300px;
		background-color: #f46a6a;
		transition: background-color 2s ease;
		z-index: 1;
	}

	.wrapper {
		position: relative;
		z-index: 2;

		.panel {
			background-color: #fff;
			padding: 40px;
			max-width: 600px;
			margin: 20px auto;
			box-shadow: 0 0 5px #73737369;
			;
		}

	}
}


.logo {
	img {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin-top: -100px;
		margin-bottom: 50px;
	}
}

.panal_Gallery {
	width: 100%;
	height: 150px;
	background-size: cover;
	margin: 10px;
	cursor: pointer;
	border: 1px solid #ccc;
}

.model{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #333c;
	z-index: 100;
	.modal-dialog{
		max-width: 1100px;
		.gallery_mr{
			max-width: 100%;
		}
		.modal-content{
			background-color: #fff;
			border-radius: 10px;
		}
		.modal-body{
			text-align: center;
		}
	}
}

.prev, .next{
	cursor: pointer;
	margin: 0 20px;
}

.whatsapp-btn{
	background-color: #25d366;
	color: #fff;
	padding: 5px 15px;
	border-radius: 20px;
	display: inline;
	box-shadow: inset 2px 2px 3px 3px #ffffff4f;
	&:hover{
		color: #fff;
	}
}