#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: #fff;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  background-color: #2a3042;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

user agent stylesheet header {
  display: block;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #f8f8fb;
}

:root {
  --blue: #556ee6;
  --indigo: #564ab1;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #f46a6a;
  --orange: #f1734f;
  --yellow: #f1b44c;
  --green: #34c38f;
  --teal: #050505;
  --cyan: #50a5f1;
  --white: #fff;
  --gray: #74788d;
  --gray-dark: #343a40;
  --primary: #556ee6;
  --secondary: #74788d;
  --success: #34c38f;
  --info: #50a5f1;
  --warning: #f1b44c;
  --danger: #f46a6a;
  --light: #eff2f7;
  --dark: #343a40;
  --pink: #e83e8c;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Poppins", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(24px / 2) 0 0;
  color: #e9ecef;
}

.navbar-header a,
.navbar-header .btn {
  color: #e9ecef;
}

.logo {
  font-size: 1rem;
}

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #f6f6f6;
  padding: 3px;
}

@media (min-width: 1200px) {
  .navbar-header,
  .main-footer .container1 {
    max-width: 85%;
    margin: 0 auto;
  }
}

.container-custom {
  width: 85%;
  margin: 0 auto;
}

.wrapper {
  min-height: calc(100vh - 147px);
}

.main-footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e9ecef;
}

.underline {
  text-decoration: line-through;
  color: #dc3545;
  font-size: 10px;
}

.card_border {
  border: 1px solid #ced4da;
}

.account_border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

.img-thumbnail {
  padding: .25rem;
  background-color: #f8f8fb;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: 250px;
}

.btn_width {
  width: 31%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1px;
}

<<<<<<< HEAD
.home-nav {
  background-color: #ECB235;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.img-bg {
  background-color: #21252961;
  padding: 3px 25px;
}

.a-text:hover {
  color: #333;
  border-bottom: white;
  text-decoration: underline;
}

.a-text {
  color: #333;
  text-decoration: none;
}

.img-boder {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  border-radius: 7px;
}

.img-boder:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.margin-top {
  margin-top: 1.8rem;
}

.margin-left {
  margin-left: 25px;
}

.overflow-img {
  overflow: hidden;
  border-radius: 7px;
}

.bannertext {
  position: absolute;
  bottom: 15px;
  right: auto;
  left: 25px;
  right: 0;
  top: 10%;
  bottom: auto;
  text-align: center;
  text-transform: capitalize;
  z-index: 2;
  text-align: left;
  color: #ffffff;
  text-align: center;
}

.bannertext1 {
  display: block;
  font-size: 14px;
  color: #ECB235;
  text-transform: uppercase;
  margin: 0 0 3px 0;
}

.bannertext2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.bannertext3 {
  font-size: 32px;
  display: block;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.bannertext4 {
  display: block;
  font-size: 14px;
  color: #ECB235;
  margin: 0 0 3px 0;
}

.bannertext5 {
  font-size: 18px;
  font-weight: 500;
  display: block;
}

.banner {
  position: absolute;
  bottom: 15px;
  right: auto;
  left: 25px;
  top: auto;
  text-transform: capitalize;
  z-index: 2;
  text-align: left;
  color: #ffffff;
}

.panel-banner {
  position: absolute;
  bottom: 15px;
  right: auto;
  left: 25px;
  top: 340px;
  text-transform: capitalize;
  z-index: 2;
  text-align: left;
  color: #ffffff;
}

.bannertext6 {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.br {
  border: 1px solid #DFDFDF;
}

.topalign {
  margin-top: -20px;
}

.horizonal {
  position: relative;
  z-index: -10;
}

.back {
  background-color: #fff;
}

.nav-border {
  padding: 0px 20px;
  text-align: left;
  text-transform: capitalize;
  background: #ffffff;
  font-size: 18px;
  border: 2px solid #E0E0E0;
  line-height: 23px;
  margin: 0 -3px;
  font-weight: bold;
}

.nav_border:hover {
  color: #333;
  border-bottom: white;
  text-decoration: underline;
}

.nav_border {
  color: #333;
  text-decoration: none;
}

.imges:hover {
  color: #333;
  border-bottom: white;
  text-decoration: none;
}

.imges {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.imges:hover {
  color: #333;
  border-bottom: white;
  text-decoration: none;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.color {
  color: #ECB235;
}

.font {
  font-weight: bold;
  font-size: 15px;
}

.text-decoration {
  text-decoration: line-through;
  color: #9B9B9B;
}

.font-title {
  font-weight: bold;
  font-size: 20px;
}

.text-color {
  color: #050505;
  text-decoration: none;
}

.text-color:hover {
  color: #ECB235;
  text-decoration: none;
}

.images {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 343px;
}

.images .card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.images .imges-hover {
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: opacity 0.5s, -webkit-transform 1s;
  transition: opacity 0.5s, -webkit-transform 1s;
  transition: transform 1s, opacity 0.5s;
  transition: transform 1s, opacity 0.5s, -webkit-transform 1s;
  z-index: 1;
}

.images:hover .imges-hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer_bg {
  background-color: #050505;
  height: 600px;
}

.footer_panal {
  font-size: 14px;
  color: #ffffff;
}

.footer_heading {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3rem;
  margin-left: 2rem;
}

.footer_text {
  position: relative;
  padding-left: 18px;
  padding-bottom: 10px;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
}

.footer_text:hover {
  color: #ECB235;
}

.footer-transition {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  position: absolute;
  margin-top: 6px;
}

.footer-transition:hover {
  left: 27px;
}

.font-weight {
  font-weight: normal;
}

.footer-contact {
  position: relative;
  background: #0c0c0c;
  overflow: hidden;
}

.padding-panal {
  padding: 2rem;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border-right: 1px solid #ced4da70;
}

.footer_email {
  color: #ffffff;
}

.footer_email:hover {
  color: #ECB235;
}

.footer-openchat {
  font-size: 15px;
  color: #ffffff;
}

.footer_open {
  color: #ECB235;
}

.footer_open:hover {
  color: #ffffff;
  font-weight: 500;
=======
input.form-control.valid {
  border-color: #34c38f;
  padding-right: calc(1.5em + .94rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2334c38f' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .235rem) center;
  background-size: calc(.75em + .47rem) calc(.75em + .47rem);
}

input.form-control.error {
  border-color: #f46a6a;
  padding-right: calc(1.5em + .94rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f46a6a' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f46a6a' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .235rem) center;
  background-size: calc(.75em + .47rem) calc(.75em + .47rem);
}

label.error {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #f46a6a;
}

.error_msg {
  margin: 10px;
  color: #dc3545;
  font-style: italic;
>>>>>>> c19e728eb9f99d1fc0d620fffd5279cfa2099772
}
/*# sourceMappingURL=style.css.map */