#page-topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1002;
	background-color: #fff;
	-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
	box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
	background-color: #2a3042;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

user agent stylesheet header {
	display: block;
}

body {
	margin: 0;
	font-family: Poppins, sans-serif;
	font-size: .8125rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: left;
	background-color: #f8f8fb;
}

:root {
	--blue: #556ee6;
	--indigo: #564ab1;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #f46a6a;
	--orange: #f1734f;
	--yellow: #f1b44c;
	--green: #34c38f;
	--teal: #050505;
	--cyan: #50a5f1;
	--white: #fff;
	--gray: #74788d;
	--gray-dark: #343a40;
	--primary: #556ee6;
	--secondary: #74788d;
	--success: #34c38f;
	--info: #50a5f1;
	--warning: #f1b44c;
	--danger: #f46a6a;
	--light: #eff2f7;
	--dark: #343a40;
	--pink: #e83e8c;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: "Poppins", sans-serif;
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 70px;
	padding: 0 calc(24px / 2) 0 0;

	a,
	.btn {
		color: #e9ecef;
	}

	color: #e9ecef;
}

.logo {
	font-size: 1rem;
}

.header-profile-user {
	height: 36px;
	width: 36px;
	background-color: #f6f6f6;
	padding: 3px;
}

@media (min-width: 1200px) {

	.navbar-header,
	.main-footer .container1 {
		max-width: 85%;
		margin: 0 auto;
	}
}

.container-custom {
	width: 85%;
	margin: 0 auto;
}

.wrapper {
	margin-top: 80px;
	min-height: calc(100vh - 147px);
}

.main-footer {
	margin-top: 1rem;
	padding: 1rem;
	background-color: #e9ecef;
}

.underline {
	text-decoration: line-through;
	color: #dc3545;
	font-size: 10px;
}

.card_border {
	border: 1px solid #ced4da;
}

.account_border {
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	text-align: center;
}

.img-thumbnail {
	padding: .25rem;
	background-color: #f8f8fb;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
	height: 250px;
}

.btn_width {
	width: 31%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 1px;

}

input.form-control.valid {
	border-color: #34c38f;
    padding-right: calc(1.5em + .94rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2334c38f' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .235rem) center;
    background-size: calc(.75em + .47rem) calc(.75em + .47rem);
}

input.form-control.error {
	border-color: #f46a6a;
	padding-right: calc(1.5em + .94rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f46a6a' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f46a6a' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
	background-repeat: no-repeat;
	background-position: right calc(.375em + .235rem) center;
	background-size: calc(.75em + .47rem) calc(.75em + .47rem);
}

label.error {
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: #f46a6a;
}
